.folder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 14rem;
    margin-bottom: 2rem;
    cursor: pointer;
}
.folder__content > img {
    width: 6rem;
    height: 6rem;
}

.folder__content {
    display: inline-block;
    width: 7rem;
    padding: 1rem 2.5rem;
    border-radius: 0.8rem;
    background-color: var(--primary-color);
}

.folder__title {
    margin-top: 1rem;
    font-size: var(--fnt-normal);
    color: var(--rusty-green-dark);
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}