.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--primary-color);
}

.news__btn {
    position: absolute;
    left: 2rem;
    top: 2rem;
}

.news__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4vh 0;
}

.news__content-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.news__content-body-text {
    display: block;
    width: 60%;
    padding: 1% 5%;
    font-size: var(--fnt-normal);
    color: var(--rusty-green-dark);
}
.news__content-title {
    font-weight: 500;
}