@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

:root {
  --accent-color: #407EF7;
  --primary-color: white;
  --secondary-color: #EFF1F8;
  --faded-red: #f80f0fa4;
  --rusty-green: #3C661B;
  --rusty-green-dark: #5E5E60;
  --transparent-blue: #E4EDFF;
  --transparent-black-21: rgba(0, 0, 0, 0.21);
  --fnt-normal: 13px;
}
html {
  background-color: var(--secondary-color);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
  background-color: var(--secondary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  margin: 0;
  padding: 0;
}
